In [449]:
%%javascript
IPython.OutputArea.auto_scroll_threshold = 9999;

In [450]:
# Import packages
import sys
import os
import numpy as np
import pandas as pd
from scipy.stats import mode 
import matplotlib.pyplot as plt
import seaborn as sns
 # code starts here
from scipy import stats
from scipy.stats import kurtosis 
from sklearn.linear_model import LinearRegression
import datetime as dt
import re
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree  import ExtraTreeRegressor
from sklearn.tree  import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree  import ExtraTreeClassifier
from sklearn.tree  import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import recall_score
from itertools import product
from datetime import datetime
from sklearn import tree
import statsmodels.api as sm 

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from IPython.display import Image
import pydotplus
np.set_printoptions(250) 
# import sklearn.external.joblib as extjoblib
# import joblib
import seaborn as sns

## 1. Read Data in a dataframe

In [451]:
import statsmodels.api as sm

# Read and Peak at Data
base_datapath = r"D://Projects//Python//Jupyter//Anands Notebook//Captstone//Data//Mahindra First Choice Dataset//"
cleansed_datapath = r"D://Projects//Python//Jupyter//Anands Notebook//Captstone//Data//Cleansed DataSet//"
customer_cleansed_datapath = cleansed_datapath + "Customer_Data.xlsx"
invoice_datapath = base_datapath + "Final_invoice.csv"
jtd_datapath = cleansed_datapath + "JTD.csv"
plantmaster_datapath = cleansed_datapath + "Plant Master.xlsx"


cleansed_invoice_datapath = cleansed_datapath + "Final_invoice.csv"

dir_of_interest = 'D://Projects//Python//GeneralFunctions'
sys.path.append(dir_of_interest)   
from EDA import *
#import EDA

In [452]:
dfInvoice = pd.read_csv(invoice_datapath)

#dfInvoice = pd.read_excel(invoice_datapath,sheet_name="Sheet1")

D:\Visual Studio\Anaconda3_64\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (9,10,14,15,21,41,51) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [453]:
dfInvoice.head()

,Unnamed: 0,Amt Rcvd From Custom,Amt Rcvd From Ins Co,Area / Locality,CGST(14%),CGST(2.5%),CGST(6%),CGST(9%),CITY,Cash /Cashless Type,...,Service Advisor Name,TDS amount,Technician Name,Total Amt Wtd Tax.,Total CGST,Total GST,Total IGST,Total SGST/UGST,Total Value,User ID
0,0,0.0,0.0,MAJIWADA,0.0,0.0,0.0,0.0,Thane,NaN,...,NaN,0.0,RUPESH,4051.95,0.0,0.0,0.0,0.0,4051.95,BC01FS1
1,1,0.0,0.0,THNAE,0.0,0.0,0.0,0.0,THNAE,NaN,...,NaN,0.0,PRASHANT,1001.29,0.0,0.0,0.0,0.0,1001.29,BC01SA2
2,2,0.0,0.0,THANE,0.0,0.0,0.0,0.0,THANE[W],NaN,...,NaN,0.0,IMRAN,233.14,0.0,0.0,0.0,0.0,233.14,BC01SA2
3,3,0.0,0.0,THNAE,0.0,0.0,0.0,0.0,THNAE,NaN,...,NaN,0.0,PRASHANT,0.00,0.0,0.0,0.0,0.0,0.00,BC01SA2
4,4,0.0,0.0,THANE,0.0,0.0,0.0,0.0,THANE,NaN,...,NaN,0.0,DAYANAND,2747.12,0.0,0.0,0.0,0.0,2747.12,BC01SA2

In [454]:
dfInvoice.shape

(492314, 59)

## 2. Basic Data Exploration

In [ ]:
dir_of_interest = 'D:\\Projects\\Python\\GeneralFunctions'
sys.path.append(dir_of_interest)   

import EDA
from EDA import *
importlib.reload(EDA)
basicExploration(dfInvoice)

## 3. Univariate Analysis

### 3.1. Uniqueness Check

In [ ]:
dir_of_interest = 'D://Projects//Python//GeneralFunctions'
sys.path.append(dir_of_interest)   
from EDA import *
dfUniqueness= unique_eliminateDataFrame(dfInvoice)
dfUniqueness

### 3.2.Perform Variance check
Assuming the Threshold percentage of Variance acceptable is 10%

In [ ]:
lowVarianceCheck = lowVarianceEliminationDataFrameCheckOnThreshold(dfInvoice,0.1)
print(lowVarianceCheck)

### 3.3.Perform Data Cleanup and Save to file system for later use

Null Check says - 

                      Total     Percent
Unnamed: 0                 0    0.000000
Amt Rcvd From Custom  197286   40.073205
Amt Rcvd From Ins Co  197286   40.073205
Area / Locality        23890    4.852594
CGST(14%)             197286   40.073205
CGST(2.5%)            197286   40.073205
CGST(6%)              197286   40.073205
CGST(9%)              197286   40.073205
CITY                       1    0.000203
Cash /Cashless Type   464894   94.430384
Claim No.             487510   99.024200
Cust Type                  0    0.000000
Customer No.               0    0.000000
District                   0    0.000000
Expiry Date           470083   95.484386
Gate Pass Date        451399   91.689247
Gate Pass Time             0    0.000000
IGST(12%)             197286   40.073205
IGST(18%)             197286   40.073205
IGST(28%)             197286   40.073205
IGST(5%)              197286   40.073205
Insurance Company     468723   95.208140
Invoice Date               0    0.000000
Invoice No                 0    0.000000
Invoice Time               0    0.000000
Job Card No                0    0.000000
JobCard Date               0    0.000000
JobCard Time               0    0.000000
KMs Reading                0    0.000000
Labour Total               0    0.000000
Make                       0    0.000000
Misc Total                 0    0.000000
Model                   1525    0.309762
ODN No.               197286   40.073205
OSL Total                  0    0.000000
Order Type                 0    0.000000
Outstanding Amt       197286   40.073205
Parts Total                0    0.000000
Pin code                   0    0.000000
Plant                      0    0.000000
Plant Name1                0    0.000000
Policy no.            475432   96.570888
Print Status               0    0.000000
Recovrbl Exp               0    0.000000
Regn No                   16    0.003250
SGST/UGST(14%)        197286   40.073205
SGST/UGST(2.5%)       197286   40.073205
SGST/UGST(6%)         197286   40.073205
SGST/UGST(9%)         197286   40.073205
Service Advisor Name  492314  100.000000
TDS amount            197286   40.073205
Technician Name       236834   48.106290
Total Amt Wtd Tax.         0    0.000000
Total CGST            197286   40.073205
Total GST             197286   40.073205
Total IGST            197286   40.073205
Total SGST/UGST       197286   40.073205
Total Value           197286   40.073205
User ID                    0    0.000000



Hence from the above, we have only 2.5 % values for Marital Status,Occupation, Date of Birth and Death Date. Also title has a very low variance. We can plan to drop the same.

In [ ]:
# dfInvoice = dfInvoice.drop(["Title","Marital Status","Occupation","Date of Birth","Death date"],axis=1)
# dfInvoice.shape

In [ ]:
# dfInvoice.to_excel(cleaned_invoice_datapath, index=False)

In [ ]:
dfInvoice.District.value_counts()

In [ ]:
dfInvoice.shape

## 1. Which District have most cars coming for repair based on the Make and Model ?

In [ ]:
sns.set(rc={'figure.figsize':(20,8.27)})
dfInvoice["Make Copy"] = dfInvoice["Make"]
DistrictBasedOnMakeSeries = dfInvoice["District"].value_counts()
DistrictBasedOnMakeSeries[:10].plot.bar()
plt.title('Which District have most cars coming for repair  ?')

for num, counts in enumerate(DistrictBasedOnMakeSeries[:10]):
    plt.text(num, counts, s = format(int(np.round(counts)/1000)) + "K")

plt.legend()
plt.show()
dfInvoice.drop(["Make Copy"],inplace=True,axis=1)

In [ ]:
sns.set(rc={'figure.figsize':(20,8.27)})
dfInvoice["Make Copy"] = dfInvoice["Make"]
DistrictBasedOnMakeSeries = dfInvoice.groupby(["District","Make Copy"])[["Make"]].count().sort_values("Make", ascending=False)
DistrictBasedOnMakeSeries[:10].plot.bar()
plt.title('Which District have most cars coming for repair based on Make ?')

for num, counts in enumerate(DistrictBasedOnMakeSeries["Make"][:10]):
    plt.text(num, counts, s = format(int(np.round(counts)/1000)) + "K")

plt.legend()
plt.show()
dfInvoice.drop(["Make Copy"],inplace=True,axis=1)

In [ ]:
sns.set(rc={'figure.figsize':(20,8.27)})
dfInvoice["Model Copy"] = dfInvoice["Model"]
DistrictMakeBasedOnModelSeries = dfInvoice.groupby(["District","Make","Model Copy"])[["Model"]].count().sort_values("Model", ascending=False)
DistrictMakeBasedOnModelSeries[:10].plot.bar()
plt.title('Which District have most cars coming for repair based on the Make and Model ?')

for num, counts in enumerate(DistrictMakeBasedOnModelSeries["Model"][:10]):
    plt.text(num, counts, s = format(int(np.round(counts)/1000)) + "K")

plt.legend()
plt.show()
dfInvoice.drop(["Model Copy"],inplace=True,axis=1)

## 2. Which Make and Model come for repairs the most (most popular)?

In [ ]:
dfInvoice["Model Name"]= dfInvoice["Model"]
DistrictMakeSeries = dfInvoice.groupby(["District","Make","Model"])[["Model Name"]].count().sort_values("Model", ascending=False)
DistrictMakeSeries

In [ ]:
sns.set(rc={'figure.figsize':(20,8.27)})
MakeModelBasedOnModelNameSeries = dfInvoice.groupby(["Make","Model"])[["Model Name"]].count().sort_values("Model Name", ascending=False)
MakeModelBasedOnModelNameSeries[:10].plot.bar()
plt.title('Which Make and Model come for repairs the most (most popular)?')

for num, counts in enumerate(MakeModelBasedOnModelNameSeries["Model Name"][:10]):
    plt.text(num, counts, s = format(int(np.round(counts)/1000)) + "K")



plt.legend()
plt.show()
dfInvoice.drop(["Model Name"],inplace=True,axis=1)

## 3. What is the Overall general service structure ?

In [ ]:
 dfInvoice["Order Type"].value_counts()

In [ ]:
sns.set(rc={'figure.figsize':(20,8.27)})
OrderTypeSeries = dfInvoice["Order Type"].value_counts()
OrderTypeSeries[:30].plot.bar()
plt.title('Overall general service structure')

for num, counts in enumerate(OrderTypeSeries[:30]):
    plt.text(num, counts, s = format(int(np.round(counts)/1000)) + "K")



plt.legend()
plt.show()

## 4. What is service structure for particular make/model/car?

In [ ]:
dfInvoice["Order Type Copy"]= dfInvoice["Order Type"]
sns.set(rc={'figure.figsize':(11.7,8.27)})
MakeModelBasedOnOrderTypeSeries = dfInvoice.groupby(["Order Type","Make","Model"])[["Order Type Copy"]].count().sort_values("Order Type Copy", ascending=False).reset_index()

MakeModelBasedOnOrderTypeSeries = MakeModelBasedOnOrderTypeSeries.groupby(["Order Type"]).max()
dfInvoice.drop(["Order Type Copy"],inplace=True,axis=1)
MakeModelBasedOnOrderTypeSeries = MakeModelBasedOnOrderTypeSeries.rename(columns={"Order Type Copy":"Count"}).sort_values(["Count"])
MakeModelBasedOnOrderTypeSeries

## 5. Age group of Owners and service based on the age group.

### ----------------------------We have very less data for Customers age.

In [ ]:
incomePerOrderType = dfInvoice.groupby(["Order Type"])['Total Value'].sum().reset_index().sort_values("Total Value", ascending=False)
incomePerOrderType

## 6. What is the Income per Order/Service Type?

In [ ]:
dfInvoice['Total Value'] = dfInvoice['Total Value'].fillna(0)
sns.set(rc={'figure.figsize':(20,8.27)})
incomePerOrderType = dfInvoice.groupby(["Order Type"])['Total Value'].sum().reset_index().sort_values("Total Value", ascending=False).set_index("Order Type")
incomePerOrderType[:30].plot.bar()

for num, counts in enumerate(incomePerOrderType['Total Value'][:30]):
    plt.text(num, counts, s = format(int(np.round(counts)/1000)) + "K")


plt.title('Income per Order/Service Type')
plt.legend()
plt.show()

## 7. Services done based on  KM's run

In [ ]:
sns.set(rc={'figure.figsize':(20,8.27)})
servicesBasedOnKmPerOrderType = dfInvoice.groupby(["Order Type"])['KMs Reading'].sum().reset_index().sort_values("KMs Reading", ascending=False).set_index("Order Type")
servicesBasedOnKmPerOrderType[:30].plot.bar()

for num, counts in enumerate(servicesBasedOnKmPerOrderType['KMs Reading'][:30]):
    plt.text(num, counts, s = format(int(np.round(counts)/1000)) + "K")


plt.title('Services done based on  KMs run')
plt.legend()
plt.show()

## 8. Which insurance companies are used the most ? Nationwise

In [ ]:
insuranceCoUsedMost = dfInvoice["Insurance Company"].value_counts()
sns.set(rc={'figure.figsize':(20,8.27)})
insuranceCoUsedMost[:10].plot.bar()
plt.title('Insurance companies are used the most - Nation wise ')

for num, counts in enumerate(insuranceCoUsedMost[:10]):
    plt.text(num, counts, s = format((np.round(counts)/1000)) + "K")

plt.legend()
plt.show()

## 9. Which insurance companies are used the most ? Districtwise

In [ ]:
sns.set(rc={'figure.figsize':(20,8.27)})
dfInvoice['Insurance Company Copy'] = dfInvoice['Insurance Company']
insuranceCoUsedMostDistrictWise = dfInvoice.groupby(["District"])[['Insurance Company']].count().sort_values("Insurance Company", ascending=False)
#MakeModelBasedOnOrderTypeSeries = dfInvoice.groupby(["Order Type Copy","Make","Model"])[["Order Type"]].count().sort_values("Order Type", ascending=False)
insuranceCoUsedMostDistrictWise[:10].plot.bar()
plt.title('Insurance companies are used the most - Area wise ')

for num, counts in enumerate(insuranceCoUsedMostDistrictWise["Insurance Company"][:10]):
    plt.text(num, counts, s = format((np.round(counts)/1000)) + "K")

plt.legend()
plt.show()
dfInvoice.drop(["Insurance Company Copy"],inplace=True,axis=1)

## 10. Which insurance companies are used the most ? Districtwise and Insurance Company wise

In [ ]:
dfInvoice.shape

In [ ]:
dfInvoice['Insurance Company'].value_counts(normalize=True)*100

In [ ]:
sns.set(rc={'figure.figsize':(11.7,8.27)})
dfInvoice['Insurance Company Copy'] = dfInvoice['Insurance Company']
insuranceCoUsedMostDistrictWise = dfInvoice.groupby(["District",'Insurance Company'])[['Insurance Company Copy']].count().sort_values(["Insurance Company Copy"], ascending=False)
dfInvoice.drop(["Insurance Company Copy"],inplace=True,axis=1)
insuranceCoUsedMostDistrictWise

In [ ]:
dfInvoice.shape

## 11. Highest Service done based on Area

In [ ]:
dfInvoice.groupby(["District"])['Order Type'].count()

In [ ]:
sns.set(rc={'figure.figsize':(20,8.27)})
servicesBasedOnArea = dfInvoice.groupby(["District"])['Order Type'].count().reset_index().sort_values("Order Type", ascending=False).set_index("District")
servicesBasedOnArea[:10].plot.bar()
plt.title('Highest Service done based on Area ')

for num, counts in enumerate(servicesBasedOnArea['Order Type'][:10]):
    plt.text(num, counts, s = format(int(np.round(counts)/1000)) + "K")

plt.legend()
plt.show()

## 12. Analysis of Outsourced Labour counts based on the nation

In [ ]:
sns.set(rc={'figure.figsize':(20,8.27)})
outsourcedLabourBasedOnNation = dfInvoice.groupby(["District"])['OSL Total'].count().reset_index().sort_values("OSL Total", ascending=False).set_index("District")
outsourcedLabourBasedOnNation[:10].plot.bar()
plt.title('Outsourced Labour accross the Nation ')

for num, counts in enumerate(outsourcedLabourBasedOnNation['OSL Total'][:10]):
    plt.text(num, counts, s = format(int(np.round(counts)/1000)) + "K")


plt.legend()
plt.show()

## 13. What are the different types of services provided per District?

In [ ]:
servicesBasedOnArea = dfInvoice.groupby(["District",'Order Type'])[['Order Type']].count()
servicesBasedOnArea

## 14. Are the service seasonal or regular?

## Convert Job Dates to Season

In [ ]:
import re
import datetime



def get_season(row):
    row = datetime.datetime.strptime(row, '%d/%m/%Y')
    month = row.month 
    if month >= 1 and month < 3:
        return 'Winter'
    elif month >= 3 and month < 6:
        return 'Summer'
    elif month >= 6 and month < 10:
        return 'Rainy'
    else:
        return 'Winter'
    
dfInvoice['Season'] = dfInvoice['JobCard Date'].map(get_season)
dfInvoice[["JobCard Date","Season"]]

In [ ]:
sns.set(rc={'figure.figsize':(11.7,8.27)})
servicesBasedOnSeason = dfInvoice.groupby(["Season"])['Order Type'].count().reset_index().sort_values("Order Type", ascending=False).set_index("Season")
servicesBasedOnSeason[:30].plot.bar()
plt.title('Are the service seasonal or regular? ')

for num, counts in enumerate(servicesBasedOnSeason['Order Type'][:10]):
    plt.text(num, counts, s = format(int(np.round(counts)/1000)) + "K")


plt.legend()
plt.show()

## 15. Which season gives highest revenue?

In [ ]:
sns.set(rc={'figure.figsize':(11.7,8.27)})
servicesBasedOnSeason = dfInvoice.groupby(["Season"])['Total Value'].sum().reset_index().sort_values("Total Value", ascending=False).set_index("Season")
servicesBasedOnSeason[:30].plot.bar()
plt.title('Is the service seasonal or regular? ')

for num, counts in enumerate(servicesBasedOnSeason['Total Value'][:10]):
    plt.text(num, counts, s = format(int(np.round(counts)/1000)) + "K")

plt.legend()
plt.show()

## Merge with Plant Master.

In [ ]:
dfPlantMaster = pd.read_excel(plantmaster_datapath, sep='|' , encoding='latin-1')
dfPlantMaster = dfPlantMaster.rename(columns={"City":"Plant City","State":"Plant State"})
dfPlantMasterNew= dfPlantMaster[["Plant","Plant City","Plant State"]].copy()
dfInvoice = pd.merge(dfInvoice, dfPlantMasterNew , on="Plant",how='left')
dfInvoice

In [ ]:
dfInvoice.shape

In [ ]:
dfInvoice['CITY'] = dfInvoice['CITY'].str.lower() 
dfInvoice['Plant City'] = dfInvoice['Plant City'].str.lower() 

dfInvoice["Same City"] = True
#dfInvoice["Same City"] = dfInvoice["CITY"].equals(dfInvoice["Plant City"])
dfInvoice.shape

In [ ]:
dfInvoiceCityDifferentThenPlantCity = dfInvoice[dfInvoice["Same City"] == False]

pd.crosstab(dfInvoice["Same City"],dfInvoice["Order Type"] ,margins=True)

## 17. Customer Segmentation based on group

In [ ]:
dfCustomerMaster = pd.read_excel(customer_cleansed_datapath,sheet_name="Sheet1", sep='|' , encoding='latin-1')

In [ ]:
dfCustomerMaster.head(5)

In [ ]:
dfInvoice["Customer No."] = dfInvoice["Customer No."].astype('str')
dfInvoice["Customer No."] = dfInvoice["Customer No."].map(lambda x: x.lstrip('0'))


dfCustomerMaster["Customer No."] = dfCustomerMaster["Customer No."].astype('str')

In [ ]:
dfCustomerMaster["Customer Occupation"].value_counts()

In [ ]:
dfCustomerMasterNew= dfCustomerMaster[["Customer No.","Customer Partner Type Name","Customer Data Origin Description","Customer Title","Customer Marital Status","Customer Occupation"]].copy()
dfInvoice = pd.merge(dfInvoice, dfCustomerMasterNew , on="Customer No.",how='left')
dfInvoice.head()

In [ ]:
dfInvoice.shape

In [ ]:
# pd.crosstab(dfInvoice["Cust Type"],dfInvoice["Customer Data Origin Description"])
# pd.crosstab(dfInvoice["Cust Type"],dfInvoice["Customer Data Origin Description"]).transpose().columns
# seriesCrossTab = pd.crosstab(dfInvoice["Cust Type"],dfInvoice["Customer Data Origin Description"])
# cols = seriesCrossTab.transpose().columns
# for col in cols:
#     print(f"For {col}-->{seriesCrossTab.transpose()[col].argmax()}")

## 17.1 Customer Segmentation based on Customer Type and Order Type

In [ ]:
pd.crosstab(dfInvoice["Cust Type"],dfInvoice["Order Type"])

In [ ]:
dfInvoice["Customer Occupation"] = dfInvoice["Customer Occupation"].replace('Others', np.nan)
dfInvoice["Customer Marital Status"] = dfInvoice["Customer Marital Status"].replace('Others', np.nan)
dfInvoice["Customer Title"] = dfInvoice["Customer Title"].replace('Others', np.nan)
dfInvoice["Customer Title"] = dfInvoice["Customer Data Origin Description"].replace('Others', np.nan)

In [ ]:
sns.set(rc={'figure.figsize':(20,8.27)})
custTypeOrderTypeSegmentation = dfInvoice.groupby(["Cust Type"])['Order Type'].count().reset_index().sort_values("Order Type", ascending=False).set_index("Cust Type")
custTypeOrderTypeSegmentation[:30].plot.bar()
plt.title('Customer Segmentation based on Customer Type and Order Type')

for num, counts in enumerate(custTypeOrderTypeSegmentation['Order Type'][:10]):
    plt.text(num, counts, s = format(int(np.round(counts)/1000)) + "K")

plt.legend()
plt.show()

## 17.2 Customer Segmentation based on Customer Type and Total value of the service

In [ ]:
custTypeTotalSegmentation = dfInvoice.groupby(["Cust Type"])['Total Value'].sum().reset_index().sort_values("Total Value", ascending=False).set_index("Cust Type")/dfInvoice["Total Value"].sum()*100
custTypeTotalSegmentation

In [ ]:
sns.set(rc={'figure.figsize':(20,8.27)})
custTypeTotalSegmentation = dfInvoice.groupby(["Cust Type"])['Total Value'].sum().reset_index().sort_values("Total Value", ascending=False).set_index("Cust Type")/dfInvoice["Total Value"].sum()*100
custTypeTotalSegmentation[:10].plot.bar()
plt.title('Customer Segmentation % based on Customer Type and Total value of the service')

for num, counts in enumerate(custTypeTotalSegmentation['Total Value'][:10]):
    plt.text(num, counts, s = format((np.round(counts))) + "%")

plt.legend()
plt.show()

## 17.3 Customer Segmentation based on Customer Occupation and Total value of the service

In [ ]:
custOccupationTotalSegmentation = dfInvoice.groupby(["Customer Occupation"])['Total Value'].sum().reset_index().sort_values("Total Value", ascending=False).set_index("Customer Occupation")
custOccupationTotalSegmentation

In [ ]:
sns.set(rc={'figure.figsize':(20,8.27)})
custOccupationTotalSegmentation = dfInvoice.groupby(["Customer Occupation"])['Total Value'].sum().reset_index().sort_values("Total Value", ascending=False).set_index("Customer Occupation")
custOccupationTotalSegmentation[:10].plot.bar()
plt.title('Customer Segmentation based on Customer Occupation and Total value of the service')

for num, counts in enumerate(custOccupationTotalSegmentation['Total Value'][:10]):
    plt.text(num, counts, s = format((np.round(counts)/1000)) + "K")

plt.legend()
plt.show()

## 17.4 Customer Segmentation based on Customer Data Origin and Total value of the service

In [ ]:
dfDistribution = dfInvoice.groupby(["Customer Data Origin Description"])['Total Value'].sum().reset_index().sort_values("Total Value", ascending=False).set_index("Customer Data Origin Description")/dfInvoice["Total Value"].sum()*100
dfDistribution

In [ ]:
sns.set(rc={'figure.figsize':(20,8.27)})
custDataOriginTotalSegmentation = dfInvoice.groupby(["Customer Data Origin Description"])['Total Value'].sum().reset_index().sort_values("Total Value", ascending=False).set_index("Customer Data Origin Description")/dfInvoice["Total Value"].sum()*100
custDataOriginTotalSegmentation[:10].plot.bar()
plt.title('Customer Segmentation % based on  Customer Data Origin and Total value of the service')

for num, counts in enumerate(custDataOriginTotalSegmentation['Total Value'][:10]):
    plt.text(num, counts, s = format((np.round(counts)/1000)) + "K")

plt.legend()
plt.show()

## 17.5 Customer Segmentation based on Customer Partner Type  and Total value of the service

In [ ]:
custPartnerTypeTotalSegmentation = dfInvoice.groupby(["Customer Partner Type Name"])['Total Value'].sum().reset_index().sort_values("Total Value", ascending=False).set_index("Customer Partner Type Name")/dfInvoice["Total Value"].sum()*100
custPartnerTypeTotalSegmentation

In [ ]:
sns.set(rc={'figure.figsize':(11.7,8.27)})
custPartnerTypeTotalSegmentation = dfInvoice.groupby(["Customer Partner Type Name"])['Total Value'].sum().reset_index().sort_values("Total Value", ascending=False).set_index("Customer Partner Type Name")/dfInvoice["Total Value"].sum()*100
custPartnerTypeTotalSegmentation[:30].plot.bar()
plt.title('Customer Segmentation % based on  Customer Data Origin and Total value of the service')
plt.legend()
plt.show()

In [ ]:
dfInvoice.shape

## 17.6 Technician who did the highest number of Services

In [ ]:
sns.set(rc={'figure.figsize':(20,8.27)})

dfInvoice["Technician Name"] = dfInvoice["Technician Name"].replace('nan', np.nan)
TechnicianSeries = dfInvoice["Technician Name"].value_counts(dropna=True)
TechnicianSeries[:10].plot.bar()
plt.title('Overall general service structure')
plt.legend()
plt.show()

In [ ]:
dfInvoice['Technician Name Copy'] = dfInvoice['Technician Name']
dfInvoice.groupby(["Plant Name1","Technician Name Copy"])['Technician Name'].count().reset_index().sort_values("Technician Name", ascending=False)

In [ ]:
TechnicianSegmentationNagpur = dfInvoice[(dfInvoice["Plant Name1"]=="NAGPUR")]['Technician Name'].value_counts()
TechnicianSegmentationNagpur

In [ ]:
sns.set(rc={'figure.figsize':(20,8.27)})
dfInvoice['Technician Name Copy'] = dfInvoice['Technician Name']
TechnicianSegmentation = dfInvoice.groupby(["Plant Name1","Technician Name Copy"])[['Technician Name']].count().sort_values("Technician Name", ascending=False)
TechnicianSegmentation[:10].plot.bar()

for num, counts in enumerate(TechnicianSegmentation['Technician Name'][:10]):
    plt.text(num, counts, s = format(int(np.round(counts)/1000)) + "K")

plt.title('Overall general service structure')
dfInvoice.drop(["Technician Name Copy"],inplace=True,axis=1)
plt.legend()
plt.show()

##

##

##

##

In [ ]:
##

In [ ]:

dfInvoice.to_csv(cleansed_invoice_datapath, index=False)

In [ ]:
## Which services are most  have most cars coming for repair based on the Make and Model ?