In [50]:
%%javascript
IPython.OutputArea.auto_scroll_threshold = 9999;

In [51]:
# Import packages
import sys
import os
import numpy as np
import pandas as pd
from scipy.stats import mode 
import matplotlib.pyplot as plt
import seaborn as sns
 # code starts here
from scipy import stats
from scipy.stats import kurtosis 
from sklearn.linear_model import LinearRegression
import datetime as dt
import re
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree  import ExtraTreeRegressor
from sklearn.tree  import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree  import ExtraTreeClassifier
from sklearn.tree  import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import recall_score
from itertools import product
from datetime import datetime
from sklearn import tree
import statsmodels.api as sm 

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from IPython.display import Image
import pydotplus
np.set_printoptions(250) 
# import sklearn.external.joblib as extjoblib
# import joblib

## 1. Read Data in a dataframe

In [59]:
import statsmodels.api as sm

# Read and Peak at Data
base_datapath = r"D://Projects//Python//Jupyter//Anands Notebook//Captstone//Data//Mahindra First Choice Dataset//"
cleaned_datapath = r"D://Projects//Python//Jupyter//Anands Notebook//Captstone//Data//Cleansed DataSet//"
customer_datapath = base_datapath + "Customer_Data.xls"
invoice_datapath = base_datapath + "Final_invoice.xls"
jtd_datapath = base_datapath + "JTD.xls"
plantmaster_datapath = base_datapath + "Plant Master.xlsx"
cleaned_plantmaster_datapath = cleaned_datapath + "Plant Master.xlsx"
dir_of_interest = 'D://Projects//Python//GeneralFunctions'
sys.path.append(dir_of_interest)   
from EDA import *

In [53]:
dfPlantMaster = pd.read_excel(plantmaster_datapath, sep='|' , encoding='latin-1')

In [54]:
dfPlantMaster.head()

,Plant,Name 1,Valuation Area,Customer no. - plant,Vendor number plant,Factory calendar,Name 2,House number and street,PO Box,Postal Code,City,Sales organization,State
0,BC07,NERKUNDRAM,BC07,PLBC07,PLBC07,IN,NaN,"No.117 Poonamallee High Road,",600107.0,600107,Chennai,MFCS,Tamil Nadu
1,BC30,SAS NAGAR - MOHALI,BC30,PLBC30,PLBC30,IN,NaN,"C-118, Phase 07,",160055.0,160055,Mohali,MFCS,Punjab
2,X001,X001 - AUTO PLANET WHEELS,X001,PLX001,NaN,IN,Thane,"Unit No.3, Kothari Compound,",400610.0,400610,Thane,MFCA,Maharashtra
3,X002,X002 - BHANDARI INDUSTRIES PVT,X002,PLX002,NaN,IN,Ghaziabad,"18/1, C Site 4, Sahibabad",201010.0,201010,Ghaziabad,MFCA,Uttar Pradesh
4,X003,X003 - Om Sri Satya Sai Automo,X003,PLX003,NaN,IN,Bengaluru,"#75, Sy.No. 83/2, Panathur Mai",560087.0,560087,Bengaluru,MFCB,Karnataka

## 2. Basic Data Exploration

In [55]:
basicExploration(dfPlantMaster)

-------- 0.1  Shape is--------------------------------
Rows:438,Columns:13
-------- 0.2  Unique Values in dataframe are --------------------------------
Calculating Unique Values for DataFrame------------------
        Unique values for Column Plant is  438
        Unique values for Column Name 1 is  438
        Unique values for Column Valuation Area is  438
        Unique values for Column Customer no. - plant is  438
        Unique values for Column Vendor number plant is  2
        Unique values for Column Factory calendar is  1
        Unique values for Column Name 2 is  360
        Unique values for Column House number and street is  435
        Unique values for Column PO Box is  413
        Unique values for Column Postal Code is  414
        Unique values for Column City is  356
        Unique values for Column Sales organization is  5
        Unique values for Column State is  27
-------- 0.3  Info is--------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438 entries, 0 to 437
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Plant                    438 non-null    object
 1   Name 1                   438 non-null    object
 2   Valuation Area           438 non-null    object
 3   Customer no. - plant     438 non-null    object
 4   Vendor number plant      2 non-null      object
 5   Factory calendar         438 non-null    object
 6   Name 2                   436 non-null    object
 7   House number and street  436 non-null    object
 8   PO Box                   437 non-null    float64
 9   Postal Code              438 non-null    int64
 10  City                     438 non-null    object
 11  Sales organization       433 non-null    object
 12  State                    438 non-null    object
dtypes: float64(1), int64(1), object(11)
memory usage: 44.6+ KB
None
-------- 0.4  Null Values in the dataframe are--------------------------------
Plant                        0
Name 1                       0
Valuation Area               0
Customer no. - plant         0
Vendor number plant        436
Factory calendar             0
Name 2                       2
House number and street      2
PO Box                       1
Postal Code                  0
City                         0
Sales organization           5
State                        0
dtype: int64
-------- 0.5  Description for object columns are--------------------------------
       Plant                 Name 1 Valuation Area Customer no. - plant  \
count    438                    438            438                  438
unique   438                    438            438                  438
top     X568  X190 - NITHIYA MOTORS           X568               PLX545
freq       1                      1              1                    1

       Vendor number plant Factory calendar   Name 2 House number and street  \
count                    2              438      436                     436
unique                   2                1      360                     435
top                 PLBC07               IN  Chennai           Plot No. 525,
freq                     1              438        7                       2

           City Sales organization      State
count       438                433        438
unique      356                  5         27
top     Kolkata               MFCD  Rajasthan
freq          6                339         52
-------- 0.6  Description for Numeric columns are--------------------------------
              PO Box    Postal Code
count     437.000000     438.000000
mean   465304.276888  469101.835616
std    206603.346008  207677.347020
min         0.000000  121006.000000
25%    305404.000000  306101.000000
50%    454001.000000  454887.500000
75%    610001.000000  612879.000000
max    999999.000000  999999.000000
-------- 0.7  Outliers in the dataset are--------------------------------
Min IQR (Outlier Limit) for PO Box is -151491.5
Max IQR (Outlier Limit) for PO Box is 1066896.5
Min IQR (Outlier Limit) for Postal Code is -154066.0
Max IQR (Outlier Limit) for Postal Code is 1073046.0

## 3. Univariate Analysis

### 3.1. Uniqueness Check

In [56]:
dir_of_interest = 'D://Projects//Python//GeneralFunctions'
sys.path.append(dir_of_interest)   
from EDA import *
dfUniqueness= unique_eliminateDataFrame(dfPlantMaster)
dfUniqueness

----------------In unique_eliminateDataFrame------------------

                       Name Unique May Be Eliminated ?
0                     Plant    Yes                 Yes
1                    Name 1    Yes                 Yes
2            Valuation Area    Yes                 Yes
3      Customer no. - plant    Yes                 Yes
4       Vendor number plant     No                  No
5          Factory calendar    Yes                 Yes
6                    Name 2     No                  No
7   House number and street     No                  No
8                    PO Box     No                  No
9               Postal Code     No                  No
10                     City     No                  No
11       Sales organization     No                  No
12                    State     No                  No

### 3.2.Perform Variance check
Assuming the Threshold percentage of Variance acceptable is 10%

In [57]:
lowVarianceCheck = lowVarianceEliminationDataFrameCheckOnThreshold(dfPlantMaster,0.1)
print(lowVarianceCheck)

----Following shows the variance in the features of the dataframe-------------
                       Name              Variance ? Can be Eliminated ?
0                     Plant  High variance in data                   No
1                    Name 1  High variance in data                   No
2            Valuation Area  High variance in data                   No
3      Customer no. - plant  High variance in data                   No
4       Vendor number plant  High variance in data                   No
5          Factory calendar   Low variance in data                  Yes
6                    Name 2  High variance in data                   No
7   House number and street  High variance in data                   No
8                      City  High variance in data                   No
9        Sales organization  High variance in data                   No
10                    State  High variance in data                   No
11                   PO Box  High variance in data                   No
12              Postal Code  High variance in data                   No

### 3.3.Perform Data Cleanup and Save to file system for later use

In [58]:
dfPlantMaster = dfPlantMaster.drop(["Vendor number plant","Factory calendar"],axis=1)
dfPlantMaster.shape

(438, 11)

In [61]:
dfPlantMaster.to_excel(cleaned_plantmaster_datapath, index=False)