In [18]:
%%javascript
IPython.OutputArea.auto_scroll_threshold = 9999;

In [19]:
# Import packages
import sys
import os
import numpy as np
import pandas as pd
from scipy.stats import mode 
import matplotlib.pyplot as plt
import seaborn as sns
 # code starts here
from scipy import stats
from scipy.stats import kurtosis 
from sklearn.linear_model import LinearRegression
import datetime as dt
import re
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.tree  import ExtraTreeRegressor
from sklearn.tree  import DecisionTreeRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree  import ExtraTreeClassifier
from sklearn.tree  import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import roc_auc_score
from sklearn.metrics import recall_score
from itertools import product
from datetime import datetime
from sklearn import tree
import statsmodels.api as sm 

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
from IPython.display import Image
import pydotplus
np.set_printoptions(250) 
# import sklearn.external.joblib as extjoblib
# import joblib

## 1. Read Data in a dataframe

In [20]:
import statsmodels.api as sm

# Read and Peak at Data
base_datapath = r"D://Projects//Python//Jupyter//Anands Notebook//Captstone//Data//Mahindra First Choice Dataset//"
cleaned_datapath = r"D://Projects//Python//Jupyter//Anands Notebook//Captstone//Data//Cleansed DataSet//"

customer_datapath = base_datapath + "Customer_Data.xlsx"
invoice_datapath = base_datapath + "Final_invoice.xls"
jtd_datapath = base_datapath + "JTD.csv"
plantmaster_datapath = base_datapath + "Plant Master.xlsx"
cleaned_JTD_datapath = cleaned_datapath + "JTD.csv"

dir_of_interest = 'D://Projects//Python//GeneralFunctions'
sys.path.append(dir_of_interest)   
from EDA import *
import EDA

In [21]:
dfJTD = pd.read_csv(jtd_datapath)
#dfJTD = pd.read_excel(customer_datapath,sheet_name="Sheet1")

In [22]:
dfJTD.head()

,Sr No,DBM Order,Order Item,Material,Labor Value Number,Description,Item Category,Order Quantity,Target quantity UoM,Net value
0,0,22385,180,OSLCC_SRV31,NaN,MACHINING RR.SUSPENSION CHARGE (MAJOR),P010,1.2,MIN,1869.87
1,1,23910,10,1DM279018170117,NaN,ASSY.OIL COOLER (6-PLATE) (VOR,P002,1.0,EA,2151.13
2,2,23910,40,1IS150203BE01,NaN,FRONT WHEEL BEARING/ LUBRICATE,P002,1.0,EA,2552.92
3,3,23910,60,1DM279001990173,NaN,ASSY.CYL.HEAD W /O INJ.(NA W /O,P002,1.0,EA,20360.14
4,4,23910,70,1DM88552790S001SA,NaN,Engine Overhaul Kit -Indica Di,P002,1.0,EA,10691.63

## 2. Basic Data Exploration

In [23]:
dir_of_interest = 'D:\\Projects\\Python\\GeneralFunctions'
sys.path.append(dir_of_interest)   
importlib.reload(EDA)
import EDA
from EDA import *
basicExploration(dfJTD)

In basic exploration- Anand
-------- 0.1  Shape is--------------------------------
Rows:1048575,Columns:10
-------- 0.2  Unique Values in dataframe are --------------------------------
Calculating Unique Values for DataFrame------------------
        Unique values for Column Sr No is  1048575
        Unique values for Column DBM Order is  165633
        Unique values for Column Order Item is  353
        Unique values for Column Material is  56024
        Unique values for Column Labor Value Number is  20290
        Unique values for Column Description is  28630
        Unique values for Column Item Category is  5
        Unique values for Column Order Quantity is  1604
        Unique values for Column Target quantity UoM is  3
        Unique values for Column Net value is  161330
-------- 0.3  Info is--------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 10 columns):
 #   Column               Non-Null Count    Dtype
---  ------               --------------    -----
 0   Sr No                1048575 non-null  int64
 1   DBM Order            1048575 non-null  int64
 2   Order Item           1048575 non-null  int64
 3   Material             1039924 non-null  object
 4   Labor Value Number   341293 non-null   object
 5   Description          1039924 non-null  object
 6   Item Category        1048575 non-null  object
 7   Order Quantity       1048575 non-null  float64
 8   Target quantity UoM  1039924 non-null  object
 9   Net value            1048575 non-null  float64
dtypes: float64(2), int64(3), object(5)
memory usage: 80.0+ MB
None
-------- 0.4  Null Values in the dataframe are--------------------------------
                      Total    Percent
Sr No                     0   0.000000
DBM Order                 0   0.000000
Order Item                0   0.000000
Material               8651   0.825024
Labor Value Number   707282  67.451732
Description            8651   0.825024
Item Category             0   0.000000
Order Quantity            0   0.000000
Target quantity UoM    8651   0.825024
Net value                 0   0.000000
-------- 0.5  Description for object columns are--------------------------------
                Material Labor Value Number         Description Item Category  \
count            1039924             341293             1039924       1048575
unique             56024              20290               28630             5
top     MARUTISUZUKI_SRV         MSALPS0007  MISC_OTHER CHARGES          P002
freq               59228               3311               49830        597718

       Target quantity UoM
count              1039924
unique                   3
top                     EA
freq                502410
-------- 0.6  Description for Numeric columns are--------------------------------
              Sr No     DBM Order    Order Item  Order Quantity     Net value
count  1.048575e+06  1.048575e+06  1.048575e+06    1.048575e+06  1.048575e+06
mean   5.242870e+05  3.412837e+05  1.027800e+02    4.304433e+01  6.970478e+02
std    3.026977e+05  2.849942e+05  1.488395e+02    3.323462e+02  1.836136e+03
min    0.000000e+00  2.238500e+04  1.000000e+01    0.000000e+00 -4.826100e+02
25%    2.621435e+05  1.174890e+05  3.000000e+01    1.000000e+00  7.337000e+01
50%    5.242870e+05  1.535820e+05  6.000000e+01    1.000000e+00  2.520100e+02
75%    7.864305e+05  7.042560e+05  1.200000e+02    4.000000e+00  6.849800e+02
max    1.048574e+06  7.562960e+05  5.960000e+03    2.700000e+04  1.819294e+05
-------- 0.7  Outliers in the dataset are--------------------------------
Min IQR (Outlier Limit) for Sr No is -524287.0
Max IQR (Outlier Limit) for Sr No is 1572861.0
Min IQR (Outlier Limit) for DBM Order is -762661.5
Max IQR (Outlier Limit) for DBM Order is 1584406.5
Min IQR (Outlier Limit) for Order Item is -105.0
Max IQR (Outlier Limit) for Order Item is 255.0
Min IQR (Outlier Limit) for Order Quantity is -3.5
Max IQR (Outlier Limit) for Order Quantity is 8.5
Min IQR (Outlier Limit) for Net value is -844.045
Max IQR (Outlier Limit) for Net value is 1602.395

## 3. Univariate Analysis

### 3.1. Uniqueness Check

In [24]:
dir_of_interest = 'D://Projects//Python//GeneralFunctions'
sys.path.append(dir_of_interest)   
from EDA import *
dfUniqueness= unique_eliminateDataFrame(dfJTD)
dfUniqueness

----------------In unique_eliminateDataFrame------------------

                  Name Unique May Be Eliminated ?
0                Sr No    Yes                 Yes
1            DBM Order     No                  No
2           Order Item     No                  No
3             Material     No                  No
4   Labor Value Number     No                  No
5          Description     No                  No
6        Item Category     No                  No
7       Order Quantity     No                  No
8  Target quantity UoM     No                  No
9            Net value     No                  No

### 3.2.Perform Variance check
Assuming the Threshold percentage of Variance acceptable is 10%

In [25]:
lowVarianceCheck = lowVarianceEliminationDataFrameCheckOnThreshold(dfJTD,0.1)
print(lowVarianceCheck)

----Following shows the variance in the features of the dataframe-------------
                  Name              Variance ? Can be Eliminated ?
0             Material  High variance in data                   No
1   Labor Value Number  High variance in data                   No
2          Description  High variance in data                   No
3        Item Category  High variance in data                   No
4  Target quantity UoM  High variance in data                   No
5                Sr No  High variance in data                   No
6            DBM Order  High variance in data                   No
7           Order Item  High variance in data                   No
8       Order Quantity  High variance in data                   No
9            Net value  High variance in data                   No

### 3.3.Perform Data Cleanup and Save to file system for later use

Null Check says - 

                 Null Values in the dataframe are--------------------------------
                 
                      Total    Percent
                      
Sr No                     0   0.000000

DBM Order                 0   0.000000

Order Item                0   0.000000

Material               8651   0.825024

Labor Value Number   707282  67.451732

Description            8651   0.825024

Item Category             0   0.000000

Order Quantity            0   0.000000

Target quantity UoM    8651   0.825024

Net value                 0   0.000000

----------------------------------------------------------------------------------------------------------------------------------

Variance Check says none of the columns can be eliminated. Hence from the above, Sr No and Labour  Value NUmber sounds to be high in null values and can be eliminated.

In [26]:
dfJTD = dfJTD.drop(["Sr No","Labor Value Number"],axis=1)
dfJTD.shape

(1048575, 8)

In [27]:
dfJTD.to_csv(cleaned_JTD_datapath, index=False)